[user]
  email = unico.javier@gmail.com
  name = Manzanit0
[core]
  excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
  branch-name = rev-parse --abbrev-ref HEAD
  tug = !git pull origin $(git branch-name)
  nuke = reset --hard HEAD
  amend = commit -a --amend
  ca = commit -a
  shove = push -u origin HEAD
  delete-merged-branches = ! git branch --merged master | grep -v \"\\* master\" | xargs -n 1 git branch -d
  visual = log --oneline --decorate --graph --all
  recent = branch --sort=-committerdate 
  recents = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	recommit = commit --amend --no-edit
	cleanup = "!git branch --format=\"%(if:notequals=*)%(HEAD)%(then)%(if:notequals=${1:-master})%(refname:lstrip=2)%(then)%(refname:lstrip=2)%(end)%(end)\" --merged master | xargs -rpxL1 git branch -d"
[push]
  default = simple
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
