# Some conveniences
alias .. "cd .."
alias ... "cd ..; cd .."

# Tmux aliases
alias t "tmux"
alias ta "tmux attach"
alias tl "tmux ls"
alias tk "tmux kill-session -t"

# Git aliases
alias g "git"
alias gc "git commit"
alias ga "git add"
alias gco "git checkout"
alias gst "git status"
alias gd "git diff"

alias w 'cd $HOME/work'

# Fish pure prompt config
set pure_symbol_prompt "λ"

. $HOME/.asdf/asdf.fish
. $HOME/.asdf/completions/asdf.fish
